* {
  font-family: "Nunito Sans";
  letter-spacing: 0.5px;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

a,
a:hover {
  text-decoration: none;
}

.judul-segmen {
  color: #c4c4c4;
  margin-bottom: 10px;
}

/* navbar */

.nav-color {
  background-color: #b2d4ff;
}

.navbar {
  padding: 0 120px;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.navbar .logo {
  max-width: 130px;
}

.nav-link {
  font-size: 14px;
  margin: 0 8px;
  color: black;
}

.nav-download {
  background: #5b86e5;
  box-shadow: 0px 2px 4px #4777e0, inset 0px -2px 4px #3568d8;
  border-radius: 50px;
  color: white;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}

.navbar-toggler-icon {
  color: black;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.search {
  font-size: 10px;
  border-radius: 18px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.63) 42.49%,
    rgba(255, 255, 255, 0.22) 111.27%
  );
  color: #639cf1;
  height: 23px;
}

/* banner */

.banner {
  background-image: url("../img/bg-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  margin-top: -10px;
}

.banner-row {
  height: 650px;
}

.banner-text {
  padding-left: 100px;
}

.banner-text .headline {
  color: #4777e0;
  font-weight: 800;
}

.banner-text .deskripsi {
  font-size: 18px;
}

.banner-img {
  width: 500px;
}

/* tutor */

.tutor {
  padding: 0 100px;
}

.tutor-row {
  height: 550px;
}

.tutor .accordion-body {
  color: #928e8e;
  font-size: 12px;
}

.tutor a.info-detail {
  border: 0.7px solid #5b86e5;
  font-size: 12px;
  border-radius: 6px;
  color: #5b86e5;
}

.tutor .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: black;
  box-shadow: none;
}

.tutor .accordion-item {
  border: 0.7px solid #c4c4c4;
  margin: 10px 0;
  box-shadow: -4px 4px 6px rgba(171, 194, 212, 0.35);
  border-radius: 2px;
}

.accordion-button::after {
  background: url("https://api.iconify.design/akar-icons:plus.svg?color=%235B86E5")
    no-repeat center;
}
.accordion-button:not(.collapsed)::after {
  background: url("https://api.iconify.design/akar-icons:minus.svg?color=%235B86E5")
    no-repeat center;
}

/* kabar korlantas */

.kabar-korlantas {
  padding: 0 100px;
}
.kab ar-korlantas-row {
  height: 650px;
}

.kabar-korlantas .card {
  /* width: 17rem; */
  box-shadow: 0px 0px 8px rgba(171, 194, 212, 0.35);
  border: none;
}

.kabar-korlantas .thumbnail {
  object-fit: cover;
  height: 310px;
}

.kabar-korlantas .judul {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: uppercase;
  color: #676767;
  font-size: 18px;
  font-weight: bold;
}

.kabar-korlantas .tanggal {
  font-size: 9px;
  color: #928e8e;
}

.kabar-korlantas .konten {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  color: #928e8e;
}

.kabar-korlantas a {
  color: #5b86e5;
}

.kabar-korlantas .btn.info-lainnya {
  color: white;
  background: #5b86e5;
  border-radius: 9px;
}

/* download */

.download-row {
  height: 650px;
}

.download .headline {
  font-weight: 800;
  color: #5b86e5;
}

/* footer */

footer {
  color: white;
  background-image: url("../img/bg-footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

.footer {
  padding: 50px 130px;
}

.footer .logo {
  max-width: 170px;
}

footer a {
  color: white;
  margin-bottom: 8px;
}

.footer a:hover {
  color: #5b86e5;
}

footer .socmed {
  margin-right: 14px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

footer .socmed .iconify {
  width: 35px;
  height: 35px;
  display: inline-block;
  padding: 0.5em 0.6em;
}

.copyright {
  padding: 10px 160px;
  font-size: 12px;
}

/* --------------- mengenai signal --------------- */

.mengenai-signal {
  padding: 90px 100px;
}

.mengenai-signal .headline {
  font-weight: 800;
  color: #4777e0;
}

.mengenai-signal .deskripsi {
  font-weight: 600;
  color: #676767;
  text-align: justify;
}

.mengenai-signal .detail {
  color: #928e8e;
  text-align: justify;
}

/* --------------- faq --------------- */

.faq {
  padding: 90px 100px;
}

.faq .search-faq {
  background: #f5f5f5;
  border-radius: 20.5px;
  border: none;
  width: 50%;
}

.faq #search-addon {
  background: transparent;
  color: #5b86e5;
}

.faq .faq-nav {
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  border: none;
  border-radius: 11px;
}

.faq .faq-nav a {
  color: #016ebe;
}

.faq .list-group-item {
  border: none;
}

.faq .pertanyaan {
  font-weight: 600;
  color: #676767;
  font-size: 1rem;
}

.faq .accordion-body {
  color: #928e8e;
  font-size: 0.75rem;
}

.faq .kategori {
  padding-left: 0;
  font-weight: bold;
  font-size: 1.125rem;
  color: #474747;
  text-transform: uppercase;
}

.faq button.kategori {
  padding-left: 1.25rem;
}

/* kantor samsat */

.kantor {
  padding-top: 50px;
}

.kantor .alamat {
  color: #928e8e;
  font-size: 0.875rem;
}

.kantor .telp {
  font-size: 0.875rem;
  color: #928e8e;
  font-weight: 600;
}

/* hubungi kami */

.hubungi-kami {
  padding: 80px;
}

/* author */

.author {
  padding: 50px 100px;
}

.author-row {
  height: 650px;
}

.author-card {
  width: 300px;
  text-align: center;
  border: none;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.author-card:hover {
  transform: translateY(-5px);
}

.author-card img {
  height: 300px;
  object-fit: cover;
}

.author-card .card-body {
  padding: 1.5rem;
}

.author-card h5 {
  margin-bottom: 0.5rem;
  color: #1b6ca8;
  font-size: 1.2rem;
}

.author-card p {
  color: #555;
  font-size: 0.9rem;
}

/* --------------- tutorial --------------- */
.tutorial {
  padding: 80px 100px;
}

.tutorial .nav-link {
  margin: 0;
}

.tutorial .jenis {
  color: #016ebe;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
}

.tutorial li {
  font-weight: bold;
}

.tutorial .headline {
  font-weight: 800;
}

.tutorial .deskripsi {
  font-weight: 600;
  color: #676767;
}

.tutorial .detail {
  color: #928e8e;
}

/* --------------- informasi --------------- */

.artikel .card {
  width: 14rem;
  height: 100%;
  border: none;
}

.artikel .judul {
  text-transform: uppercase;
  color: #676767;
  font-size: 14px;
  font-weight: bold;
}

.informasi {
  padding: 90px 50px;
}

.informasi .informasi-nav {
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  border: none;
  border-radius: 11px;
}

.informasi .informasi-nav .list-group {
  padding: 10px 0;
}

.informasi .informasi-nav a {
  color: #016ebe;
}

.informasi .informasi-nav .active a {
  color: white;
}

.informasi .list-group-item {
  border: none;
}

.informasi .list-group-item.active {
  background: #8dbdff;
}

.informasi .informasi-nav-mobile a {
  color: #928e8e;
  font-size: 14px;
  margin-left: 20px;
}

.informasi .informasi-nav-mobile a.active {
  padding-bottom: 8px;
  border-bottom: 3px solid #92beff;
}

.berita-korlantas .card,
.artikel-terbaru .card {
  width: 14rem;
  height: 100%;
  border: none;
}

.berita-korlantas .thumbnail,
.artikel-terbaru .thumbnail {
  object-fit: cover;
  height: 100%;
}

.berita-korlantas .judul,
.artikel-terbaru .judul {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: uppercase;
  color: #676767;
  font-size: 14px;
  font-weight: bold;
}

.berita-korlantas .tanggal,
.artikel-terbaru .tanggal {
  font-size: 8px;
  color: #928e8e;
}

.berita-korlantas .konten,
.artikel-terbaru .konten {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  color: #928e8e;
}

.berita-korlantas a,
.artikel-terbaru a {
  color: #5b86e5;
  font-size: 14px;
}

.berita-korlantas .judul,
.artikel-terbaru .judul {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: uppercase;
  color: #676767;
  font-size: 14px;
  font-weight: bold;
  max-width: 85%;
}

/* khusus navbar */

@media (min-width: 0) and (max-width: 992px) {
  .nav-download {
    display: inline;
    padding: 0;
  }

  .search {
    width: 30%;
  }

  .mengenai-signal {
    margin-top: 100px;
  }

  .nav-tutor-m {
    margin-top: 100px;
    margin-bottom: 20px;
  }

  .tutorial .nav-link.active {
    background-color: transparent;
    color: black;
  }
}

/*
  ##Device = Smartphones (portrait)
  ##Screen = min 0px max 480px
*/

@media (min-width: 0px) and (max-width: 480px) {
  .navbar {
    padding: 0;
  }

  .banner {
    margin-top: 0;
  }

  .banner-text {
    margin-top: 150px;
    padding-left: unset;
    padding: 0 18px;
  }

  .banner-row,
  .tutor-row,
  .download-row,
  .kabar-korlantas-row,
  .author-row {
    height: auto;
  }

  .tutor,
  .download,
  .kabar-korlantas,
  .hubungi-kami,
  .mengenai-signal {
    padding: 0 20px;
  }

  .footer,
  .copyright {
    padding: 10px 18px;
  }

  /* author */

  .author {
    padding: 50px;
    margin-top: 100px;
  }

  /* hubungi kami */

  .hubungi-kami {
    margin-top: 100px;
  }

  /* tutorial */

  .tutorial {
    padding: 0 8px;
  }
  .tutorial .nav {
    width: 100%;
  }

  /* faq */

  .faq {
    margin-top: 100px;
    padding: 0 20px;
  }

  .faq .search-faq {
    width: 100%;
  }

  /* kantor samsat */

  .kantor {
    margin-top: 50px;
  }

  /* informasi */

  .informasi {
    margin-top: 100px;
    padding: 0 10px;
  }

  .berita-korlantas,
  .artikel-terbaru {
    padding-right: 0;
  }

  .informasi .informasi-nav-mobile {
    white-space: nowrap;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    border-bottom: 1px solid #c4c4c4;
  }

  .daftar-artikel {
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .daftar-artikel .card {
    width: 10rem;
  }

  .artikel a {
    color: #5b86e5;
    font-size: 14px;
  }

  .artikel .thumbnail {
    height: 100%;
  }

  .artikel .card,
  .berita-korlantas .card {
    width: 100%;
  }

  .artikel .judul,
  .berita-korlantas .judul {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-transform: uppercase;
    color: #676767;
    font-size: 14px;
    font-weight: bold;
  }

  .artikel .card-body,
  .berita-korlantas .card-body {
    padding: 0 10px;
  }
}
